@using ScrabbleScorer.Core.Enums
<div class="player-hand" @onclick="OnPlayerHandClicked">
    @if (Letters?.Any() == true)
    {
        @foreach (var letter in Letters)
        {
            <button class="tile">
                @letter.ToChar()
                <small>@letter.ToLetterValue()</small>
            </button>
        }
    }

    <button class="tile" @onclick="OnClear">
        DEL
    </button>
</div>

@code {
    [Parameter] public IEnumerable<Letter>? Letters { get; set; }
    [Parameter] public EventCallback<Letter> PlayerHandClicked { get; set; }
    [Parameter] public EventCallback<Letter> LettersCleared { get; set; }

    private async Task OnPlayerHandClicked()
    {
        if (PlayerHandClicked.HasDelegate)
            await PlayerHandClicked.InvokeAsync();
    }

    private async Task OnClear()
    {
        if (LettersCleared.HasDelegate)
            await LettersCleared.InvokeAsync();
    }
}